doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Weather App
.container.p-3
  .mx-auto(style='width: 70%;')
    .card.mx-auto(style='width: 18rem;')
      .card-body
        if messages.error
          .alert.alert-danger(role="alert") #{messages.error}
        form(action="/passwordchange" method="post")
          h5.card-title Change Password
          .input-group.mb-3
            input.form-control(type='password' placeholder='password' aria-label='password' id="password" name="password")
          .input-group.mb-3
            input.form-control(type='password' placeholder='confirmPassword' aria-label='confirmPassword' id="confirmPassword" name="confirmPassword")
          input(type='hidden' id='resetKey' name='resetKey' value=resetKey)
          button.btn.btn-primary(type='submit') Set Password
        
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
